/C01_Ternary.class
/C02_Ternary.class
/C03_Ternary.class
/C04_Ternary.class
/C05_NestedTernary.class
/C06_NestedTernary.class
/C07_SwitchCase.class
/C08_SwitchCase.class
/C09_SwitchCase.class
/C10_SwitchCase.class
/C11_SMConcat.class
/C12_SMCharAt.class
/C13_ToUpperCaseLowerCase.class
